<div class="header">
    <div class="logo">
        <button class="menuButton" (click) = 'buttonClick()'>
            <mat-icon>menu</mat-icon>
        </button>
        <span class="logo"></span>Company Logo
    </div>
    <div class="user">
        <div class="icon">
            <mat-icon>notifications</mat-icon>
        </div>
        <div class="user-logo">
            <mat-icon>account_circle</mat-icon>
        </div>
        <div class="name">Raman Bajaj</div>
        <mat-icon>arrow_drop_down</mat-icon>
    </div>
</div>