<div *ngIf = "true">
    <div class="main-menu">
        <div class="menu-item">
            <fa-icon [icon]="faDashboard"></fa-icon>
            <span>DashBoard</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
        <div class="menu-item">
            <fa-icon [icon]="faPerson"></fa-icon>
            <span>Student</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
        <div class="menu-item">
            <fa-icon [icon]="faUser"></fa-icon>
            <span>Resource</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
        <div class="menu-item">
            <fa-icon [icon]="faCartFlatbed"></fa-icon>
            <span>Incidents</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
        <div class="menu-item">
            <fa-icon [icon]="faFilePdf"></fa-icon>
            <span>Invoice and Receipt</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
        <div class="menu-item">
            <fa-icon [icon]="faRupee"></fa-icon>
            <span>Fee Structure</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
        <div class="menu-item">
            <fa-icon [icon]="faCalendar"></fa-icon>
            <span>Time Table</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
        <div class="menu-item selected">
            <fa-icon [icon]="faColumns"></fa-icon>
            <span>Reports</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
        <div class="menu-item">
            <fa-icon [icon]="faDownload"></fa-icon>
            <span>Downloads</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
</div>
</div>