.area-component {
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    &.left {
      width: 890px;
    }
    &.right {
      width: 450px;
    }
}
.top-widget {
    height: 180px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    &.left {
      width: 890px;
    }
    &.right {
      width: 450px;
    }
}

.table-component {
  height: 350px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 60px;
  &.left {
    width: 890px;
  }
  &.right {
    width: 450px;
  }
}


